<div class = "payment-form-div">

  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#Stuart" aria-controls="Stuart" role="tab" data-toggle="tab">Stuart</a></li>
      <li role="presentation"><a href="#Katy" aria-controls="Katy" role="tab" data-toggle="tab">Katy</a></li>
      <li role="presentation"><a href="#Simon" aria-controls="Simon" role="tab" data-toggle="tab">Simon</a></li>
      <li role="presentation"><a href="#Kieran" aria-controls="Kieran" role="tab" data-toggle="tab">Kieran</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="Stuart">
        <%= User.calculate_total_two_users('Stuart','Katy')%>
      </div>
      <div role="tabpanel" class="tab-pane" id="Katy">
        ...
      </div>
      <div role="tabpanel" class="tab-pane" id="Simon">
        ... 
      </div>
      <div role="tabpanel" class="tab-pane" id="Kieran">
        ...
      </div>
    </div>

  </div>

</div>
